<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<!--    head-->
<head th:replace="~{/user/fragments/head::head}"></head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="~{/user/fragments/sidebar::sidebar}"></div>
            <!-- End Sidebar -->


            <div class="col-md-9 content bg-dark">
                <div th:replace="~{/user/fragments/header::header}"></div>
                <!-- Main Content -->
                <div class="main-content">
                    <!-- Replace with your main content elements -->
                    <div class="artist-page-header">
                        <h3 class="title page">Artist following</h3>
                        <div class="search-bar row;">
                            <input class="search-input" type="text" placeholder="Find your favorite artist">
                            <a href="/user/search?search-name=#"><svg xmlns="http://www.w3.org/2000/svg" width="26"
                                    height="26" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </a>
                        </div>
                        <div class="category-artist">
                            <a href="#"><button class="active">Songs</button></a>
                            <a href="#"><button>Artist</button></a>
                            <a href="#"><button>Album</button></a>

                        </div>
                    </div>

                    <div class="list-artist-following">
                        <ul>
                            <li th:each="artist:${listArtistFollowing}">
                                <div class="result row">
                                    <a style="width: 68%" th:href="@{/tunesmusic/artist-profile(artistId = ${artist.id})}">
                                        <img th:src="@{${artist.user.profilePicture}}" th:alt="${artist.artistName}">
                                        <label th:text="${artist.artistName}"></label>
                                    </a>
                                    <form th:id="|request-follow-form-${artist.id}|" style="width: 20%" th:action="@{/tunesmusic/artist-following/request-follow}"
                                    th:onsubmit="|requestFollowSubmit(event,${artist.id})|"
                                          method="post"
                                    >
                                       <div>
<!--                                           <input  type="hidden" name="idArtist" th:id="|idArtist-${artist.id}|" th:value="${artist.id}">-->
                                           <button th:id="|btnFollow-${artist.id}|" type="submit" class="follow ">
                                               Follow
                                               <i class="fa-solid fa-plus"></i>
                                           </button>

                                           <button th:id="|btnFollowing-${artist.id}|" type="submit" class="following active">Following
                                               <i class="fa-solid fa-check"></i>
                                           </button>

                                       </div>
                                    </form>
                                </div>
                            </li>

                        </ul>
                        <div> <a href="/User/favorite-songs/show-all"><button style="margin-top: 12px;">show
                                    all</button></a></div>
                    </div>

                </div>
                <!-- End Main Content -->
            </div>
        </div>
        <!-- Music Player -->
        <div th:replace="~{/user/fragments/playerbar::playerbar}"></div>
    </div>

    <!-- Footer -->
   <div th:replace="~{/user/fragments/footer::footer}"></div>
    <!-- End Footer -->
    </div>

    <div th:replace="~{/user/fragments/foot::foot}"></div>
</body>

</html>