<!DOCTYPE html>
<html lang="en">

<head th:replace="/user/fragments/head::head"></head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="/user/fragments/sidebar::sidebar"></div>

            <!-- End Sidebar -->


            <div class="col-md-9 content bg-dark">
                <!-- Main Content -->
                <div class="main-content">
                    <!-- Replace with your main content elements -->
                    <h1 class="title page" style="color: white">Your Playlist</h1>
                    <br>
                    <div class="centered-btn">
                        <a class="new-playlist-btn" href="/tunesmusic/new-playlist">
                            <i style="font-size: 22px;color: white;" class="fa-solid fa-plus"></i>
                            <label>  New Playlist</label>
                        </a>
                    </div>
                    <div class="list-songs">
                        <ul>
                            <li>
                                <div class="song row">
                                    <img src="/image/album1.jpg" alt="#">
                                    <label>All Too Well-Taylor version</label>
                                </div>
                            </li>
                            <li>
                                <div class="song row">
                                    <img src="/image/album2.jpg" alt="#">
                                    <label>Taylor Swift</label>
                                </div>
                            </li>
                            <li>
                                <div class="song row">
                                    <img src="/image/album3.jpg" alt="#">
                                    <label>Red</label>
                                </div>
                            </li>
                            <li>
                                <div class="song row">
                                    <img src="/image/album3.jpg" alt="#">
                                    <label>Red</label>
                                </div>
                            </li>
                            <li>
                                <div class="song row">
                                    <img src="/image/album3.jpg" alt="#">
                                    <label>Red</label>
                                </div>
                            </li>
                            

                        </ul>
                       <div> <a href="/User/favorite-songs/show-all"><button style="margin-top: 12px;">show all</button></a></div>
                    </div>
                    
                </div>
                <!-- End Main Content -->
            </div>
        </div>
        <!-- Music Player -->
        <div th:replace="/user/fragments/playerbar::playerbar"></div>




    </div>

    <!-- Footer -->
    <div th:replace="/user/fragments/footer::footer"></div>
    <!-- End Footer -->
    </div>

    <div th:replace="~{/user/fragments/foot::foot}"></div>

</body>

</html>