<!DOCTYPE html>
<html lang="en">
<!--head-->
<head th:replace="~{/user/fragments/head::head}"></head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="~{/user/fragments/sidebar::sidebar}"></div>

            <!-- End Sidebar -->


            <div class="col-md-9 content bg-dark">
                <div th:replace="~{/user/fragments/header::header}"></div>
                <!-- Main Content -->
                <div class="main-content">
                    <!-- Replace with your main content elements -->
                    <div class="search-header">
                        <div class="search-bar row;">
                            <form id="searchForm" onsubmit="handleSearch(event)">
                                <input class="search-input" id="keysearch" name="keysearch" type="text" placeholder="What do you want to play ?">
                                <button type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </button>
                            </form>
                        </div>

                        <div class="category-search">
                            <a href="#"><button class="category-search-song active">Song</button></a>
                            <a href="#"><button class="category-search-artist">Artist</button></a>
                            <a href="#"><button class="category-search-album">Album</button></a>

                        </div>
                    </div>

                    <div class="list-result-search">
                        <ul>
                            <li th:each="track : ${listTrack}">
                                <div class="result row" style="display: flex">
                                    <a class="ajax-link" style="width: 82%;height: 100%;text-decoration: none" th:href="@{/tunesmusic/playsong(id=${track.id})}">
                                        <img th:src="@{${track.sourceCoverImage}}" alt="song cover photo">
                                        <label th:text="${track.trackName} + ' - ' + ${track.artist.artistName}"></label>
                                    </a>
                                    <div class="dropdown" style="width: 12%">
                                        <i onclick="toggleDropdown(this)" style="width: 20px; cursor: pointer;" class="fa-solid fa-ellipsis"></i>
                                        <div class="dropdown-content">
                                            <a th:href="@{/tunesmusic/add-to-favorite(trackId=${track.id})}">Add to Favorite</a>
                                            <div class="playlist-dropdown">
                                                <a href="#">Add to Playlist</a>
                                                <div class="playlist-list">
                                                    <!-- List of playlists will be displayed here -->
                                                    <ul>
                                                        <li th:each="playlist : ${playlists}">
                                                            <a class="btn-add-song-to-playlist"
                                                               th:href="@{/tunesmusic/add-to-playlist(playlistId=${playlist.id}, trackId=${track.id})}">
                                                                [[${playlist.playlistName}]]
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <img id="toastIcon" style="width: 20px;height: 20px" src="/img/icon/error.jpg" class="rounded me-2" alt="error">
                                <strong id="toastTitle" class="me-auto">Error</strong>
                                <small id="currentTime">11 mins ago</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Hello, world! This is a toast message.
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var trackList = /*[[${listTrack}]]*/ [];
                        /*]]>*/
                    </script>
                </div>
                <!-- End Main Content -->
            </div>
        </div>
        <!-- Music Player -->
        <div th:replace="~{/user/fragments/playerbar::playerbar}"></div>




    </div>

    <!-- Footer -->
    <div th:replace="~{/user/fragments/footer::footer}"></div>
    <!-- End Footer -->
    </div>


    <div th:replace="~{/user/fragments/foot::foot}"></div>

<!--    <script th:src="@{/js/search.js}"></script>-->
</body>

</html>