<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/artist/fragments/head::head}"></head>

<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="~{/artist/fragments/sidebar::sidebar}"></div>

        <!-- End Sidebar -->


        <div class="col-md-9 content bg-dark">
            <div th:replace="~{/artist/fragments/header::header}"></div>
            <!-- Main Content -->
            <div class="main-content">
                <!-- Replace with your main content elements -->
                <h1 class="title page" style="color: white">Your Playlist</h1>
                <br>
                <!-- Button trigger modal -->
                <button class="new-playlist-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i style="font-size: 22px;color: white;" class="fa-solid fa-plus"></i>
                    <label>New Album</label>
                </button>





                 Modal
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Create new song</h1>

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form onsubmit="handleCreateNewAlbum(this,event)" action="/artist/tunesmusic/album-management/create-new-album" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="albumName" class="form-label">Album's Name</label>
                                        <input type="text" class="form-control" id="albumName" name="albumName" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="albumDescription" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="albumDescription" name="albumDescription" required>
                                    </div>


                                    <div class="mb-3">
                                        <label for="trackImage" class="form-label">Choose Image</label>
                                        <input type="file" class="form-control" name="sourceCoverImage" id="trackImage" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Confirm create new album</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-refresh">Refesh</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${isSuccess}">
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <img id="toastIcon" style="width: 20px;height: 20px"
                                     th:src="${isSuccess ? '/img/icon/success.jpg' : '/img/icon/error.jpg'}"
                                     class="rounded me-2" alt="status">
                                <strong id="toastTitle" class="me-auto" th:text="${isSuccess ? 'Success' : 'Error'}">Success</strong>
                                <small id="currentTime">Just now</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body" th:text="${message}">
                                Create new album successfully!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-songs">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Image</th>
                            <th scope="col">Album's name</th>
                            <th scope="col">Number of songs</th>
                            <th scope="col">status</th>
                            <th scope="col">Date release</th>
                            <th scope="col">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="album:${listAlbum}">
                            <th scope="row" th:text="${albumStat.index + 1}"></th>
                            <td><img style="width: 64px;height: 64px" th:src="${album.sourceCoverPhoto}" alt="album cover image"></td>
                            <td th:text="${album.title}" ></td>
                            <td th:text="${album.listTrackAlbum.size()}" ></td>
                            <td th:text="${album.status==1?'Released':'Not released yet'}"></td>
                            <td th:text="${album.dateRelease}"></td>
                            <td>

                                <a href="#"class="btn btn-primary">View as user</a>

                                <a href="#"class="btn btn-success">Manage album</a>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- End Main Content -->
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElement = document.getElementById('liveToast');
            if (toastElement) {
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
                setTimeout(()=>{
                    toast.hide();
                },8000);
            }
        });
    </script>
    <!-- Music Player -->
    <div th:replace="/artist/fragments/playerbar::playerbar"></div>




</div>

<!-- Footer -->
<div th:replace="/artist/fragments/footer::footer"></div>
<!-- End Footer -->
</div>

<div th:replace="~{/artist/fragments/foot::foot}"></div>
<script src="/js/album-management.js"></script>

</body>

</html>