<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/artist/fragments/head::head}"></head>

<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="~{/artist/fragments/sidebar::sidebar}"></div>

        <!-- End Sidebar -->


        <div class="col-md-9 content bg-dark">
            <div th:replace="~{/artist/fragments/header::header}"></div>
            <!-- Main Content -->
            <div class="main-content">
                <!-- Replace with your main content elements -->
                <h1 class="title page" style="color: white" th:text="${albumDetail.getTitle}"></h1>
                <input type="hidden" id="idDetailAlbum" th:value="${albumDetail.id}">
                <br>
                <!-- Button trigger modal -->
                <button class="new-playlist-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i style="font-size: 22px;color: white;" class="fa-solid fa-plus"></i>
                    <label>Add song to this album</label>
                </button>





<!--                 Modal-->
                <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">add song to playlist</h1>

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Index</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Song's name</th>
                                        <th scope="col">Streams</th>
                                        <th scope="col">Date release</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="track:${listTrackValidToAdd}">
                                        <th scope="row" th:text="${trackStat.index + 1}"></th>
                                        <td><img style="width: 64px;height: 64px" th:src="${track.getSourceCoverImage}" alt="Song cover image"></td>
                                        <td th:text="${track.trackName}" >Otto</td>
                                        <td th:text="${track.playCount}">Otto</td>
                                        <td th:text="${track.dayAdded}">Otto</td>
                                        <td>
                                            <a th:href="@{/artist/tunesmusic/album-management/add-song-to-album(idAlbum=${albumDetail.id}, idSong=${track.id})}"
                                               class="btn btn-primary " data-bs-dismiss="modal" onclick="handleAddSongToAlbum(event,this)">Add to this album</a>
                                            <!--                                <a href="#"class="btn btn-danger">Delete Song</a>-->

                                        </td>

                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-refresh">Refesh</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                                        th:text="${isSuccess ? 'Success' : 'Error'}"-->
                <!--                                     th:src="${isSuccess ? '/img/icon/success.jpg' : '/img/icon/error.jpg'}"-->
<!--                Toast Message-->
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <img id="toastIcon" style="width: 20px;height: 20px"

                                     class="rounded me-2" alt="status">
                                <strong id="toastTitle" class="me-auto"

                                >Success</strong>
                                <small id="currentTime">Just now</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Create new song successfully!
                            </div>
                        </div>
                    </div>

                <div class="list-songs">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Image</th>
                            <th scope="col">Song's name</th>
                            <th scope="col">Streams</th>
                            <th scope="col">Date release</th>
                            <th scope="col">Action</th>
                            <th scope="col">Play</th>

                        </tr>
                        </thead>
                        <tbody id="listSongAlbum">
                        <tr th:each="track:${albumDetail.getListTrackAlbum}">
                            <th scope="row" th:text="${trackStat.index + 1}"></th>
                            <td><img style="width: 64px;height: 64px" th:src="${track.getSourceCoverImage}" alt="Song cover image"></td>
                            <td th:text="${track.trackName}" >Otto</td>
                            <td th:text="${track.playCount}">Otto</td>
                            <td th:text="${track.dayAdded}">Otto</td>
                            <td>
                                <a th:href="@{/artist/tunesmusic/album-management/remove-song-from-album(idAlbum=${albumDetail.id}, idSong=${track.id})}"
                                  onclick="handleRemoveSongFromAlbum(this,event)" class="btn btn-danger  btn-remove-song-from-album">Remove from album</a>
                            </td>
                            <td>
                                <a class="ajax-link btn btn-primary" th:href="@{/tunesmusic/playsong(id=${track.id})}">Play</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- End Main Content -->
        </div>
    </div>

    <!-- Music Player -->
    <div th:replace="/artist/fragments/playerbar::playerbar"></div>




</div>

<!-- Footer -->
<div th:replace="/artist/fragments/footer::footer"></div>
<!-- End Footer -->
</div>

<div th:replace="~{/artist/fragments/foot::foot}"></div>
<script src="/js/album-management.js"></script>

</body>

</html>