<!DOCTYPE html>
<html lang="en">
<!--head-->
<head th:replace="/artist/fragments/head::head"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="/artist/fragments/sidebar::sidebar"></div>
        <!-- End Sidebar -->


        <div class="col-md-9 content bg-dark">
            <div th:replace="~{/artist/fragments/header::header}"></div>
            <!-- Main Content -->
            <div class="main-content">
                <div class="charts-header">
                    <div class="charts-bar row;">
                        <h2>Top Songs This Week</h2>
                    </div>
<!--                    <div class="category-charts">-->
<!--                        <a href="#">-->
<!--                            <button class="active">Songs</button>-->
<!--                        </a>-->
<!--                        <a href="#">-->
<!--                            <button>Artist</button>-->
<!--                        </a>-->
<!--                        <a href="#">-->
<!--                            <button>Album</button>-->
<!--                        </a>-->

<!--                    </div>-->
                </div>

<!--                <div th:class="'result row position-' + ${iterStat.index + 1}">-->

                <!-- Replace with your main content elements -->
                <div class="list-songs-charts">
                    <ul>
                        <li th:each="track, iterStat : ${listTrack}">
                            <div th:class="'result row position-' + ${iterStat.index + 1}" style="display: flex">
                                <a class="ajax-link" style="width: 79%;height: 100%;text-decoration: none" th:href="@{/tunesmusic/search/playsong(trackid=${track.id})}">
                                    <img th:src="@{${track.sourceCoverImage}}" alt="song cover photo">
                                    <label th:text="${track.trackName} + ' - ' + ${track.artist.artistName}+'    '+${track.playCount}+' streams'"></label>
                                </a>
                                <div class="dropdown" style="width: 12%">
                                    <i onclick="toggleDropdown(this)" style="width: 20px; cursor: pointer;" class="fa-solid fa-ellipsis"></i>
                                    <div class="dropdown-content">
                                        <a style="margin-right: 5px" th:href="@{/artist/tunesmusic/add-to-favorite(trackId=${track.id})}">Add to Favorite</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- End Main Content -->
        </div>
    </div>
    <!-- Player Bar -->
    <div th:replace="/artist/fragments/playerbar::playerbar"></div>


</div>

<!-- Footer -->
<div th:replace="/artist/fragments/footer::footer"></div>
<!-- End Footer -->

<div th:replace="~{/artist/fragments/foot::foot}"></div>

</div>

</body>

</html>