.artist-page-header {
    height: 180px;
    width: 80%;
    background-color: #2d3135;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
  }
  
  
  .artist-page-header h1 {
    color: aliceblue;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .list-artist-following {
    margin-top: 5%;
    width: 100%;
    background-color: #2d3135;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 1000px; /* Adjust based on your requirement */
  }
  
  .list-artist-following ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .list-artist-following li {
    margin-bottom: 15px;
  }
  
  .list-artist-following .result {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #3a3f44;
    transition: background-color 0.3s;
  }

  .list-artist-following .result a{
    text-decoration: none;
  }
  
  .list-artist-following .result:hover {
    background-color: #444;
    transform: scale(1.05);
    transition: transform 0.4s ease;
    cursor: pointer;
  }
  
  .list-artist-following img {
    border-radius: 10px;
    margin-right: 5px;
    width: 100px; /* Adjust based on your image size */
    height: 80px; /* Adjust based on your image size */
    object-fit: cover;
  }
  
  .list-artist-following label {
    color: aliceblue;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 70%;
    margin-right: 5%;
  }
  
  .list-artist-following label:hover {
    cursor: pointer;
  }
  
  .list-artist-following button {
    background-color: #444;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
  }
  
  .list-artist-following button:hover {
    background-color: #555;
    transform: translateY(-2px);
  }
  
  .list-artist-following button:active {
    transform: translateY(0);
  }
  
 .follow, .following{
    display: none;
 }

 button.follow.active,button.following.active {
   display: inline-block;
  }

  .category-artist {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.category-artist a {
    text-decoration: none;
}

.category-artist a button {
    background-color: #444;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

.category-artist a button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.category-artist a button:active {
    transform: translateY(0);
}

.category-artist a button.active {
    background-color: #c4c1ba;
    text-decoration: none;
}