<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>A brief description of your music app and its mission.</p>
            </div>
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul class="social-links">

                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div >
                <p>&copy; 2024 The Copyright belong to facebook.com/thanhtony24</p>
            </div>
            <!-- <span >The Copyright belong to facebook.com/tonytran0706</span> -->
        </div>
    </div>
</footer>