<div class="bg-dark header" th:fragment="header">
    <div th:if="${user!= null}" style="width: 100%;display: flex">
        <a class="btn btn-outline-secondary col-1 header-element" th:href="@{/getpremium(userId=${user.id})}">Get Premium</a>

        <div class="user-info">
            <img id="mini-avatar" th:src="${user.profilePicture}" alt="">
            <span th:text="${user.name}"></span>
        </div>
        <i class="fa-regular fa-bell col-3 header-element"></i>
    </div>
  <div th:if="${user == null}">
    <a class="btn btn-outline-secondary login-btn" href="/login">Login</a>
  </div>
</div>
