<div class="music-player fixed-player" th:fragment="playerbar">
    <img src="/img/album1.jpg" alt="Album Cover" />
    <div class="info">
        <h1>Red Taylor's Version</h1>
        <br>
        <h2>Taylor Swift</h2>
    </div>
    <div id="group1">
        <div class="control">
            <div class="btn btn-repeat">
                <i class="fas fa-redo"></i>
            </div>
            <div class="btn btn-prev">
                <i class="fa-solid fa-step-backward"></i>
            </div>
            <div class="btn btn-toggle-play">
                <i class="fas fa-pause icon-pause "></i>
                <i class="fas fa-play icon-play active" ></i>
            </div>
            <div class="btn btn-next">
                <i class="fas fa-step-forward"></i>
            </div>
            <div class="btn btn-random">
                <i class="fas fa-random"></i>
            </div>
        </div>
        <div class="progress-container">
            <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
        </div>
        <audio id="audio" src=""></audio>
    </div>
</div>